/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

/* Widcard Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

/* General styles for the body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;

}

header {
    justify-content: space-between;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 10;
    align-items: end;
    padding: 0 1rem;
    background-color: black;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 30%;
    position: relative;
    display: flex;
}

/* Nav bar */
nav {
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
    left: 0;
    text-align: left;
    font-size: 120%;
    opacity: 80%;
}

#navbar-toggle:checked~nav {
    display: block;
}

#navbar-toggle {
    display: none;
}
.navbar-toggle-label {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

#menu {
    background-color: black;
    list-style-type: none;
    font-size: 120%;
    letter-spacing: 4px;
    color: #ffffff;
    width: 100%;
    padding: 1rem;
}

#menu > li {
    margin-bottom: 1rem;
}

#menu > li > a {
    padding-left: 1rem;
    color: #ffffff;
}

#menu > li > a:hover {
    color: crimson;
}

.active {
    border-bottom: 1px solid darkorange;
}

main > section {
    padding: 2rem;
}

ul {
    list-style-type: none;
}

/* Hero Images */
#home-hero {
    background: url("../images/pexels-cottonbro-studio-4836371.jpg") no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

#features-hero {
    background: url("../images/arcadepinball.jpg") no-repeat center center/cover;
    width: 100%;
    margin-top: 50px;
    position: relative;
    height: 600px;
}

#refreshments-hero {
    background: url("../images/chessCups.jpg") no-repeat center center/cover;
    width: 100%;
    margin-top: 50px;
    position: relative;
    height: 600px;
}

#pricing-hero {
    background: url("../images/chessCoin.jpg") no-repeat center center/cover;
    width: 100%;
    margin-top: 50px;
    position: relative;
    height: 600px;
}

/* Hero text for all pages */
.cover-text {
    position: absolute;
    font-size: 130%;
    background-color: darkorange;
    color: #ffffff;
    margin-top: 150px;
    padding: 1.5rem;
    opacity: 75%;
    padding: 1rem;
}

.cover-text > h3 {
    width: 90%;
    text-align: center;
}

main {
    background-color: black;
    color: #ffffff;
    text-align: center;

}

#intro > div {
    width: 90%;
    margin: 1.5rem auto;
    padding-bottom: 1rem;

}

.who {
    padding: 5%;
    size: 100%;
    width: 100%;
    
}

.subtitle {
    font-size: 180%;
    color: darkorange;
    margin-top: 1rem;
}

p {
    font-size: 150%;
    padding-top: 1rem;
}

#intro-image {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    padding: 1rem;
    display: none;
}

.description {
    width: 100%;
    padding: 0 2.5rem;
}

footer {
    background-color: black;
    }

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}








@media screen and (min-width: 768px) {
    
 
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .navbar-toggle-label {
        display: none;
    }

    main {
        left: 0;
    }

    .logo {
        width: 30%;
        
    }

    #intro-image {
        display: inline;
        width: 20%;
    }

    .cover-text {
        right: 5%;
    }


  
}

@media screen and (min-width: 1200px) {
    .navbar-toggle-label {
        display: none;
    }

    .intro {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    .intro > div {
        flex: 1;
        padding: 1rem;
    }

    #intro-image {
        order: 0;
        padding: 1rem auto;
        margin-top: 1.5rem;
    }

    .offering {
        order: 1;
    }

    .who > div {
        align-self: flex-start;
        text-align: start;
    }

    .offering > div {
        align-self: flex-end;
        text-align: end; 
    }

  
}