/* Widcard Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for the body */
body {
    display: flex;
    flex-direction: column;
}

main {
    background-color: gray;
}